<launch>


<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
<arg name="depth_method" value="cpu"/>
<arg name="reg_method" value="cpu"/>
</include>

<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
<include file="$(find darknet_ros)/launch/darknet_ros.launch"/>
</launch>
